# Virtual Environment
env/
venv/
ENV/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Local Database (if you are testing with SQLite)
*.sqlite3

# Development / OS specific files
.DS_Store
Thumbs.db
.vscode/
.idea/